<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to PDF Converter</title>
    {% load static %}  <!-- Add this line to load the static tag -->
    <link rel="stylesheet" href="{% static 'converter/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Convert Images to PDF</h1>
        <form action="{% url 'convert_to_pdf' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="images">Select Images:</label>
            <input type="file" id="images" name="images" accept="image/jpeg, image/png" multiple required>
            <button type="submit">Convert to PDF</button>
        </form>
    </div>
</body>
</html>
